/*头部尾部*/

.hello .mint-header{
	z-index: 999;
	height: 2.5rem;
	font-size: 1rem;
}
.hello .mint-tabbar .mint-tab-item{
	height: 2.5rem;
	padding: 0;
}
.hello .mint-tabbar .mint-tab-item-label{
	flex: 1;
	height: 100%;
	display: flex;
}
.hello .mint-tabbar .mint-tab-item-label a{
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: black;
}
.hello .mint-tabbar .mint-tab-item-label a i {
	font-weight: 400;
}


/*首页*/
.home {
	margin-top:2.5rem;
	margin-bottom: 3rem;
	overflow: hidden;
}
.home .mint-swipe{
	height: 11rem;
	width: 100%;
	overflow: hidden;
}
.home .listing{
	background: white;
}
.home .listing li a{
	color: #000000;
	display: flex;
	height : 4rem;
	width : 100%;
	align-items: center;
	padding: 0 1rem;
	border-bottom:1px solid #999999 ;
}
.home .listing li a p{
	width: 80%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.home .listing li a img{
	margin-right: 0.5rem;
}
.home .listing .mint-spinner-snake{
	margin: 0.5rem auto 0;
	border-top-color: blue;
    border-left-color: blue;
    border-bottom-color:blue;
}
/*收藏*/
.favorite {
	margin-top: 2.5rem;
}
.favorite .mint-search .mint-searchbar .mintui{
	font-size: 1.5rem !important;
}
.favorite .mint-search .mint-searchbar .mint-searchbar-core{
	text-indent: 0.5rem;
}
.favorite .mint-search{
	height: 3.5rem;
	position: fixed;
	top : 2.5rem;
	width: 100%;
}
.favorite .mint-searchbar{
	z-index: 99 !important;
}
.favorite ._search{
	height: 3.5rem;
}
/*笔记*/
.note {
	margin-top: 2.5rem;
}
/*详情页*/
.detail {
	margin-top:2.5rem;
	overflow: hidden;
}
.detail h2{
	font-size: 1rem;
	padding: 1rem;
}
.detail p{
	font-size: 0.8rem;
	padding: 1rem;
	padding-bottom: 0;
	line-height: 1.2rem;
}
